### `Loops in Python`

### Note Count

In [1]:
a = int(input("X: "))
b = int(input("Y: "))

if a > b :
    print(a)
else:
    print(b)

X: 5
Y: 14
14

In [9]:
c = 1 

while c <= 5:
    
    c = c + 1
    
    if c % 2 == 0:
        
        continue
    
    print(f"Value of c is {c}")

else:
    
    print("Smjh m aaya kya ? ")

Value of c is 3
Value of c is 5
Smjh m aaya kya ?

In [2]:
n = input("Number: ")

Number: 29846

In [3]:
print(type(n))

<class 'str'>

In [4]:
n

'29846'

In [5]:
ndigit = len(n)

In [6]:
n = int(n)

In [7]:
print(n)

29846

In [8]:
ndigit

5

In [10]:

s = "Hello World!"

i = 0

while i < len(s):
    
    print(s[i])
    
    i = i + 1

else:
    
    print("It is called Iteration")

H
e
l
l
o

W
o
r
l
d
!
It is called Iteration

In [12]:
lang = [ 'java', 'c', 'c++', 'Ruby', "Perl", "Python"]
i = 0
while i < len(lang):
    
    print(f"{i+1}. {lang[i]}")
    
    i += 1
else:
    print("Iterated each element of List Sucessfully")

1. java
2. c
3. c++
4. Ruby
5. Perl
6. Python
Iterated each element of List Sucessfully

## For Loop

syntax:

    we can only use for loop to iterate elements from a sequence 
    
    for element in sequence:
        statement-1
        statement-2
           ...
        statement-n

In [11]:
s = "Hello World!"

for char in s:
    print(char)

H
e
l
l
o

W
o
r
l
d
!

In [13]:
lang = [ 'java', 'c', 'c++', 'Ruby', "Perl", "Python"]


for item in lang:
    print(item)

java
c
c++
Ruby
Perl
Python

In [14]:
c = 1

for item in lang:
    
    print(f"{c}. {item}")
    
    c = c + 1

1. java
2. c
3. c++
4. Ruby
5. Perl
6. Python

__Iterative Data Types in Python__
    
    String
    
    List
    
    Tuple
    
    Dictionary
    
    Set
    
    Frozenset 
    
    map, filter, enumerate, generators, iterators

In [15]:
s = "Python"

for char in s:
    print(char)

P
y
t
h
o
n

In [1]:
l = [ 'Ram', 'shyam', 'hari', 'mohan']

for p in l:
    print(p)

Ram
shyam
hari
mohan

### `Tuple`

    immutable list

    mutable -> we can change that object
    
    immutable -> we can not update object

In [17]:
lang = [ 'c', 'c++', 'java']

In [18]:
print(lang)

['c', 'c++', 'java']

In [19]:
print(dir(lang))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [20]:
lang.append('Python')

In [21]:
lang

['c', 'c++', 'java', 'Python']

In [22]:
lang

['c', 'c++', 'java', 'Python']

In [23]:
lang[2]

'java'

In [24]:
del lang[2]

In [25]:
lang

['c', 'c++', 'Python']

In [26]:
tup = ( "C", "C++", "Java")

In [27]:
tup[0]

'C'

In [28]:
tup[1]

'C++'

In [29]:
tup[2]

'Java'

In [30]:
tup.append("Python")

AttributeError: 'tuple' object has no attribute 'append'

In [31]:
print(dir(tup))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [32]:
tup

('C', 'C++', 'Java')

In [33]:
tup[1]

'C++'

In [34]:
del tup[1]

TypeError: 'tuple' object doesn't support item deletion

In [35]:
tup

('C', 'C++', 'Java')

In [36]:
for item in tup:
    print(item)

C
C++
Java

In [37]:
x = (1, 2, 3, 4)

In [38]:
x

(1, 2, 3, 4)

In [39]:
type(x)

tuple

In [40]:
y = (5, 6, 7,8 )

In [41]:
type(y)

tuple

In [42]:
z = x + y

In [43]:
print(z)

(1, 2, 3, 4, 5, 6, 7, 8)

In [46]:
print(x, id(x))

(1, 2, 3, 4) 2171633847888

In [47]:
print(y, id(y))

(5, 6, 7, 8) 2171636101744

In [48]:
x = x + y

In [49]:
print(x, id(x))

(1, 2, 3, 4, 5, 6, 7, 8) 2171648394960

    Constants -> they are same through out the program 
    
    Variables -> value of variables changes wrt time

    input --> string

In [50]:
lang = []

In [51]:
lang.append('hi')

In [52]:
lang.append('bye')

In [53]:
lang

['hi', 'bye']

In [54]:
t = ('hi','bye')

In [55]:
t = t + ('good bye', 'bye bye')

In [56]:
t

('hi', 'bye', 'good bye', 'bye bye')

In [57]:
l1 = [ 'java', 'c', 'c++']

l2 = [ 'ruby', 'perl', 'ruby']

In [58]:
print(id(l1), l1)

2171637811136 ['java', 'c', 'c++']

In [59]:
print(id(l2), l2)

2171606369984 ['ruby', 'perl', 'ruby']

In [60]:
l1 = l1 + l2

In [62]:
print(id(l1), l1)

2171639369152 ['java', 'c', 'c++', 'ruby', 'perl', 'ruby']

In [63]:
l1 = [ 'java', 'c', 'c++']

l2 = [ 'ruby', 'perl', 'ruby']

In [64]:
print(id(l1), l1)
print(id(l2), l2)

2171639416960 ['java', 'c', 'c++']
2171639395456 ['ruby', 'perl', 'ruby']

In [65]:
l1.extend(l2)

In [66]:
print(id(l1), l1)

2171639416960 ['java', 'c', 'c++', 'ruby', 'perl', 'ruby']

In [69]:
x = 5
print(x, id(x))

5 140709511837600

In [70]:
x += 6 # integers are immutable 
print(x, id(x))

11 140709511837792

In [71]:
l1 = [ 'java', 'c', 'c++']

l2 = [ 'ruby', 'perl', 'python']

In [72]:
print(id(l1), l1)

2171638726592 ['java', 'c', 'c++']

In [73]:
l1 += l2 # iadd --> inplace additaion

In [74]:
print(id(l1), l1)

2171638726592 ['java', 'c', 'c++', 'ruby', 'perl', 'python']

    Immutable & Mutable

In [76]:
t = (1, 2, 3, ['python'])

In [77]:
t

(1, 2, 3, ['python'])

In [78]:
print(id(t))

2171648383952

In [79]:
t[-1].append('ruby')

In [80]:
print(id(t))

2171648383952

In [81]:
t

(1, 2, 3, ['python', 'ruby'])

In [82]:
info  = {
    
    'name': 'sachin', 
    'age' : 24, 
    'language': [ 'english', 'hindi'],
    'blood_group': "B+ive"
}

In [83]:
print(info)

{'name': 'sachin', 'age': 24, 'language': ['english', 'hindi'], 'blood_group': 'B+ive'}

In [84]:
info.keys()

dict_keys(['name', 'age', 'language', 'blood_group'])

In [85]:
info['name']

'sachin'

In [86]:
info['age']

24

In [87]:
info  = {
    
    'name': 'sachin', 
    'age' : 24, 
    'language': [ 'english', 'hindi'],
    'blood_group': "B+ive"
}

In [88]:
for item in info:
    print(item)

name
age
language
blood_group

In [89]:
for key in info:
    print(key)

name
age
language
blood_group

In [90]:
info  = {
    
    'name': 'sachin', 
    'age' : 24, 
    'language': [ 'english', 'hindi'],
    'blood_group': "B+ive"
}

In [91]:
for key in info:
    
    print(f"{key} = {info[key]}")

name = sachin
age = 24
language = ['english', 'hindi']
blood_group = B+ive

#### For Loop

In [93]:
data = [ 23, 45, 67, 30, 11, 16, 19, 20, 21, 50]

In [94]:
for num in data:
    if num % 2 == 0:
        break
    if num % 5 == 0:
        continue
    print(num)
else:
    print("Will this block run ?")

23
67

`Special Iterable Objects`

    zip
    
    enumerate
    
    range

Built-In

    Functions -> print, input, len, sorted, ... zip, enumerate, range
    
    Keywords -> if, else, break, continue, for, while

In [96]:
import builtins

In [100]:
list.something()

AttributeError: type object 'list' has no attribute 'something'

In [101]:
alkdsjf

NameError: name 'alkdsjf' is not defined

In [107]:
ord('Z')

90

In [108]:
print(*[ func for func in dir(builtins) if  ord(func[0]) not in range(65, 91) ], sep='\n')

__IPYTHON__
__build_class__
__debug__
__doc__
__import__
__loader__
__name__
__package__
__spec__
abs
all
any
ascii
bin
bool
breakpoint
bytearray
bytes
callable
chr
classmethod
compile
complex
copyright
credits
delattr
dict
dir
display
divmod
enumerate
eval
exec
filter
float
format
frozenset
get_ipython
getattr
globals
hasattr
hash
help
hex
id
input
int
isinstance
issubclass
iter
len
license
list
locals
map
max
memoryview
min
next
object
oct
open
ord
pow
print
property
range
repr
reversed
round
set
setattr
slice
sorted
staticmethod
str
sum
super
tuple
type
vars
zip

In [110]:
import keyword

In [113]:
print(*keyword.kwlist, sep='\n')

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [114]:
print(len(keyword.kwlist))

35

    zip

    enumerate

    range

`Zip`

if --> syntax, procdure

print() -> task perform

    * is iteration operator

In [116]:
print("Hello World")

Hello World

In [120]:
print(*"Hello World")

print("H", "e", "l", "l", "o", " ", "W", "o", "r", "l", "d") # sep = " "

# iteration

H e l l o   W o r l d
H e l l o   W o r l d

In [122]:
print("Hello World", sep="\n")

Hello World

In [123]:
print(*"Hello World", sep="\n")

H
e
l
l
o

W
o
r
l
d

In [124]:
print([1, 2, 'hi', 'java'])

[1, 2, 'hi', 'java']

In [125]:
print(*[1, 2, 'hi', 'java'])

print(1, 2, 'hi', 'java')

1 2 hi java
1 2 hi java

In [126]:
print(*[1, 2, 'hi', 'java'], sep='\n')

1
2
hi
java

In [127]:
l1 = [ "Java", "c", "c++", "ruby", "perl", "python"]

In [128]:
l2 = [ 1, 2, 3, 4, 5, 6, ]

In [129]:
print(l1)

['Java', 'c', 'c++', 'ruby', 'perl', 'python']

In [130]:
print(l2)

[1, 2, 3, 4, 5, 6]

In [132]:
print(zip(l2, l1))

<zip object at 0x000001F99FD0A740>

In [134]:
print(*zip(l2, l1), sep='\n')

(1, 'Java')
(2, 'c')
(3, 'c++')
(4, 'ruby')
(5, 'perl')
(6, 'python')

In [135]:
num = [ 1, 2, 3, 4, 5]
eng = [ 'one', 'two', 'three', 'four', 'five']
hindi = [ 'ek', 'dou', 'teen', 'chaar', 'paanch']

In [136]:
print(*zip(num, eng, hindi), sep='\n')

(1, 'one', 'ek')
(2, 'two', 'dou')
(3, 'three', 'teen')
(4, 'four', 'chaar')
(5, 'five', 'paanch')

In [137]:
key = [ 'name', 'age', 'language']

value = [ 'sachin', 24, 'hindi']

In [138]:
print(*zip(key, value), sep='\n')

('name', 'sachin')
('age', 24)
('language', 'hindi')

#### Enumerate

In [139]:
data = [ 'java', 'c', 'c++', 'ruby', 'perl', 'python']

In [141]:
c = 1
for item in data:
    print(f"{c}. {item}")
    c = c + 1

1. java
2. c
3. c++
4. ruby
5. perl
6. python

In [143]:
for item in data:
    print(f"{item}")

java
c
c++
ruby
perl
python

In [146]:
print(*enumerate(data), sep='\n')

(0, 'java')
(1, 'c')
(2, 'c++')
(3, 'ruby')
(4, 'perl')
(5, 'python')

In [147]:
s = "eHllo World!"

print(*enumerate(s), sep='\n')

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'W')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')
(11, '!')

In [148]:
l1 = [ 'hello', 'bye']
l2 = [ 'hi', 'bye bye']

In [149]:
l3 = list(zip(l1, l2)) # type casting

In [151]:
print(l3)

[('hello', 'hi'), ('bye', 'bye bye')]

In [152]:
s = "Hello World!"

ss = list(enumerate(s))

In [153]:
print(ss)

[(0, 'H'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o'), (5, ' '), (6, 'W'), (7, 'o'), (8, 'r'), (9, 'l'), (10, 'd'), (11, '!')]

In [154]:
data = [ ('Sachin', 66), ('Rahul', 50), ('Sahwag', 101), ('Dhoni', 40)]

In [155]:
print(data)

[('Sachin', 66), ('Rahul', 50), ('Sahwag', 101), ('Dhoni', 40)]

list 

    element -> 2 items

In [156]:
data = [ ('Sachin', 66), ('Rahul', 50), ('Sahwag', 101), ('Dhoni', 40)]

In [157]:
for item in data:
    print(item)

('Sachin', 66)
('Rahul', 50)
('Sahwag', 101)
('Dhoni', 40)

### Tuple Unpacking

In [158]:
x = 5;
y = 6;

In [159]:
print(x, y)

5 6

In [160]:
x, y = 5, 6 # tuple unpacking

In [161]:
print(x, y)

5 6

In [162]:
5,6

(5, 6)

In [163]:
"hello", "hi", "i", "am", "tuple"

('hello', 'hi', 'i', 'am', 'tuple')

In [164]:
a, b, c = "one", "two", "three"

In [165]:
a, b, c = ("one", "two", "three")

In [166]:
print(a)

one

In [167]:
print(b)

two

In [168]:
print(c)

three

In [169]:
name, age, country = [ "Sachin Yadav", 24, "India"]

In [170]:
print(name)

Sachin Yadav

In [171]:
print(age)

24

In [172]:
print(country)

India

In [173]:
data = [ ('Sachin', 66), ('Rahul', 50), ('Sahwag', 101), ('Dhoni', 40)]

In [174]:
data[0]

('Sachin', 66)

In [175]:
name, score = data[0]

In [176]:
print(f"Player {name} scored {score} runs in this match.")

Player Sachin scored 66 runs in this match.

In [177]:
data = [ ('Sachin', 66), ('Rahul', 50), ('Sahwag', 101), ('Dhoni', 40)]
for name, score in data:
    print(f"Player {name} scored {score} runs in this match.")

Player Sachin scored 66 runs in this match.
Player Rahul scored 50 runs in this match.
Player Sahwag scored 101 runs in this match.
Player Dhoni scored 40 runs in this match.

In [178]:
names = [ 'sachin', 'rahul', 'sahwag', 'dhoni']

runs = [ 66, 50, 101, 40]

In [179]:
for name, run in zip(names, runs):
    print(f"{name} has scored {run}.")

sachin has scored 66.
rahul has scored 50.
sahwag has scored 101.
dhoni has scored 40.

In [180]:
languge = [ 'Java', 'C', 'C++', 'Ruby', "Python"]

In [181]:
for c, item in enumerate(languge):
    print(f"{c+1}. {item}")

1. Java
2. C
3. C++
4. Ruby
5. Python

In [189]:
data = [
    ("Name", "Age", "Country", "Percentage"),
    ('sachin', 24, 'India', 75),
    ('simran', 20, 'India', 80),
    ('john', 35, 'US', 50),
    
]

In [190]:
for name, age, country, per in data:
    print(name, age, country, per)

Name Age Country Percentage
sachin 24 India 75
simran 20 India 80
john 35 US 50

In [191]:
for name, age, country, per in data:
    print(f"{name:>10} {age:>2} {country:<8} {per:>2}")

      Name Age Country  Percentage
    sachin 24 India    75
    simran 20 India    80
      john 35 US       50

### Any doubt ?