In [1]:
import builtins

In [ ]:
issubclass()

### List Comprehension

In [3]:
import random

In [5]:
i = 1

data = []
while i <= 10:
    data.append(random.randint(1, 50))
    i = i + 1
    
print(data)

[43, 13, 2, 8, 3, 25, 27, 41, 46, 9]

In [6]:
data = []

for _ in range(10):
    data.append(random.randint(1, 50))
    
print(data)

[8, 16, 35, 10, 21, 28, 25, 18, 44, 33]

In [7]:
## List Comprehension

data = [ 0 for _ in range(10) ]
print(data)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [9]:
data = []

for var in range(1, 11):
    data.append(var**2)
    
print(data)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
data = [ var**2  for var in range(1, 11) ]
print(data)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
data = [ int(input()) for var in range(5)]

1
2
3
4
5

In [12]:
print(data)

[1, 2, 3, 4, 5]

In [13]:
def function(data):
    if data % 2: 
        return data
    return -1

In [14]:
data = []

for var in range(1, 6):
    
    value = function(var)
    data.append(value)
    
print(data)# [1, -1, 3, -1,  5]

[1, -1, 3, -1, 5]

In [15]:
data = [ function(var) for var in range(1, 6) ]
print(data)

[1, -1, 3, -1, 5]

In [16]:
def is_even(value):
    if value % 2 == 0:
        return True
    return False

In [17]:
is_even(12)

True

In [18]:
is_even(13)

False

In [19]:
data = []

for var in range(1, 11):
    if is_even(var):
        data.append(var)

print(data)

[2, 4, 6, 8, 10]

In [20]:
data = [ var for var in range(1, 11) if is_even(var) ]

print(data)

[2, 4, 6, 8, 10]

In [21]:
data = []

for i in range(1,3):
    temp = [ ]
    for j in range(1, 3):
        temp.append(j**2)
    data.append(temp)
    
print(data)

[[1, 4], [1, 4]]

In [26]:
data = [ [ j**2  for j in range(1, 3) ]  for i in range(1, 3) ]

In [27]:
data

[[1, 4], [1, 4]]

In [30]:
data = [ var for var in range(1, 11) if var % 2 == 0 ]
print(data)

[2, 4, 6, 8, 10]

In [31]:
i

2

In [32]:
                              # 1               1, 2, 3, 4
data = [ [i, j ] for j in range(1, 2) for i in range(1, 5) ]

In [33]:
data

[[1, 1], [2, 1], [3, 1], [4, 1]]

In [35]:
data = []

for i in range(5):
    temp = []
    for j in range(5):
        temp.append( [i, j] )
    data.extend(temp)

print(data)

[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [1, 0], [1, 1], [1, 2], [1, 3], [1, 4], [2, 0], [2, 1], [2, 2], [2, 3], [2, 4], [3, 0], [3, 1], [3, 2], [3, 3], [3, 4], [4, 0], [4, 1], [4, 2], [4, 3], [4, 4]]

In [36]:
data = [ [ i, j ] for i in range(5) for j in range(5)  ]

In [37]:
print(data)

[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [1, 0], [1, 1], [1, 2], [1, 3], [1, 4], [2, 0], [2, 1], [2, 2], [2, 3], [2, 4], [3, 0], [3, 1], [3, 2], [3, 3], [3, 4], [4, 0], [4, 1], [4, 2], [4, 3], [4, 4]]

In [38]:
data = [ [ i, j ] for i in range(5) for j in range(5) if i > j ]

In [39]:
print(data)

[[1, 0], [2, 0], [2, 1], [3, 0], [3, 1], [3, 2], [4, 0], [4, 1], [4, 2], [4, 3]]

In [40]:
data = [ [ i, j ] for i in range(5) for j in range(5) if i + j <= 1 ]

In [41]:
data

[[0, 0], [0, 1], [1, 0]]

In [43]:
data = [ [i, j, k ] for i in range(10) for j in range(10) for k in range(10) if i + j + k <= 1 ]

In [44]:
data

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0]]

In [45]:
data = [ [i, j, k ] for i in range(10) for j in (10) for k in range(10) if i + j + k <= 2 ]

In [46]:
data

[[0, 0, 0],
 [0, 0, 1],
 [0, 0, 2],
 [0, 1, 0],
 [0, 1, 1],
 [0, 2, 0],
 [1, 0, 0],
 [1, 0, 1],
 [1, 1, 0],
 [2, 0, 0]]

#### Advance Functions

    lambda, map, reduce, filter

In [15]:
import builtins

In [16]:
print(dir(builtins))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

### class work

findout use of each builtin function

In [24]:
print(*[ func for func  in dir(builtins) if func[0].islower() ] , sep='\n')

abs
all
any
ascii
bin
bool
breakpoint
bytearray
bytes
callable
chr
classmethod
compile
complex
copyright
credits
delattr
dict
dir
display
divmod
enumerate
eval
exec
filter
float
format
frozenset
get_ipython
getattr
globals
hasattr
hash
help
hex
id
input
int
isinstance
issubclass
iter
len
license
list
locals
map
max
memoryview
min
next
object
oct
open
ord
pow
print
property
range
repr
reversed
round
set
setattr
slice
sorted
staticmethod
str
sum
super
tuple
type
vars
zip

sorted, reversed, all, any, sum, min, max, round, divmod, chr, ord,

### Advance Function

    lambda, map, reduce, fliter

`lambda`

    lambda is a special type of functions in python, 
    
  lambda is also known as `anonymous function` or `inline function`

`lambda is a keyword to define single line functions which can be called directly`

In [26]:
def hello():
    print("Hello World")

In [27]:
hello()

Hello World

### syntax of lambda 

    func_name = lambda arg1, arg2, ... :   function body / value to return

In [28]:
hi = lambda : print("Hello World")

In [29]:
hi()

Hello World

In [30]:
hello()

Hello World

In [31]:
def reverse(name):
    return name[::-1]

In [32]:
result = reverse('sachin')

In [33]:
print(result)

nihcas

In [34]:
# inline function 
rev = lambda name : name[::-1]

In [35]:
result = rev('sachin')
print(result)

nihcas

In [38]:
# Anonymous
(lambda name : name[::-1].upper())("Sachin Yadav")

'VADAY NIHCAS'

In [39]:
def add(x, y):
    return x ** 2 + y ** 2

In [40]:
add(4, 5)

41

In [41]:
add = lambda x, y: x **2 + y ** 2

In [43]:
add(1, 2)

5

In [44]:
def even_odd(value):
    if value % 2 == 0:
        return True 
    else:
        return False

In [45]:
even_odd(10)

True

In [46]:
even_odd(13)

False

In [47]:
is_even = lambda value: True if value % 2 == 0 else False

In [48]:
is_even(10)

True

In [49]:
is_even(13)

False

In [50]:
# task 1
def greatest(a, b, c):
    if a > b and b > c:
        return a
    elif b > c:
        return b
    else:
        return c

In [51]:
greatest(1, 2, 3)

3

In [52]:
greatest(4, 5, 6)

6

In [55]:

def fact(num):
    if num == 1:
        return 1
    else:
        return num*fact(num-1)

In [56]:
fact(5)

120

In [57]:
f = lambda num: 1 if num == 1 else num * f(num-1)

In [58]:
f(5)

120

In [60]:
121 ** (1/2)

11.0

In [80]:
def square(num):
    return num ** 2

In [81]:
square(5)

25

In [77]:
(lambda num: num ** 2)

In [79]:
# Anonymous
(lambda num: num ** 2) (5)

25

In [72]:
## task 2 

# 121 -> False, 127
# 2, 3, 4, 5, .... 11
def prime(num, check=2):
    if num < 2:
        return 0
    if num in (2, 3, 5, 7, 9) or check > (num**(1/2)):
        return True
    elif  num % check == 0:
        return False
    else:
        return prime(num, check+1)

In [74]:
print(*[ var for var in range(1, 101) if prime(var)], sep=', ')

2, 3, 5, 7, 9, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97

In [71]:
prime(370)

False

In [68]:
prime(169)

False

In [66]:
prime(121)

False

In [67]:
prime(127)

True

In [64]:
prime(1)

'Invalid Number'

In [65]:
prime(-10)

'Invalid Number'

#### Map

    used to map each value of a sequance to a function and stores result return by a function

__lazy evaluation__

In [ ]:
l = [ 1, 2, 3, 4, 5, 6 ]

for item in l: 
    l.pop(0)
    print(item)

zip_object, enumerate_object

In [82]:
zip([1, 2, 3, 4], [5, 6, 7,8 ])

In [83]:
print(*zip([1, 2, 3, 4], [5, 6, 7,8 ]))

(1, 5) (2, 6) (3, 7) (4, 8)

### Map

    syntax:
    
        map_object = map( function, sequence1, sequence2, ...)
        
        no of sequences should be equal to number of arguments in function

In [84]:
data = [ '1', '2', '3', '4', '5', '6']

int_data = []

for value in data:
    value = int(value) # mapping
    int_data.append(value)

print(data)

print(int_data)

['1', '2', '3', '4', '5', '6']
[1, 2, 3, 4, 5, 6]

In [85]:
data = [ '1', '2', '3', '4', '5', '6']

m = map( int, data)

print(m)

<map object at 0x0000025BCA00E490>

In [86]:
m = list(m)

In [87]:
print(m)

[1, 2, 3, 4, 5, 6]

In [88]:
data = [ 1, 2, 3, 4, 5, 6]

def square(num):
    return num ** 2

In [89]:
sq = list( map(  square,   data   ) )

In [90]:
print(sq)

[1, 4, 9, 16, 25, 36]

In [91]:
data = [ 1, 2, 3, 4, 5, 6]

sq = list(map( lambda x: x**2, data ))

In [92]:
print(sq)

[1, 4, 9, 16, 25, 36]

In [93]:
def sq_sum(a, b):
    return a**2 + b**2

In [94]:
sq_sum(1, 2)

5

In [97]:
data1 = [ 1, 2, 3, 4, ] # a
data2 = [ 3, 2, 4, 1] # b
def sq_sum(a, b):
    return a**2 + b**2

result = []

for a, b in zip(data1, data2):
    result.append(sq_sum(a, b))
    
print(result)
# result = [ 10, 8, 25, 17 ]

[10, 8, 25, 17]

In [98]:
data1 = [ 1, 2, 3, 4, ] # a
data2 = [ 3, 2, 4, 1] # b

result =  list( map( (lambda x, y: x**2 + y **2), data1, data2 ))

In [99]:
print(result)

[10, 8, 25, 17]

### Filter, reduce, decorators, clourse, generators

    2 project

In [100]:
l = [ input(), input() ]

a
b

In [101]:
l

['a', 'b']

In [102]:
[ int(input()), input()]

80
sachin

[80, 'sachin']

In [103]:
list1 = [ [ int(input()), input()]  for _ in range(3) ]

#                                           0, 1, 2

80
sachin
90
rajat
100
nidhi

In [104]:
list1

[[80, 'sachin'], [90, 'rajat'], [100, 'nidhi']]

In [108]:
"90".isdigit()

True

In [109]:
'sachin'.isdigit()

False

In [105]:
# line1 sachin 90 --> input() --> "sachin 90".split(' ') --> [ "sachin", "90"] 
#     [ 'sachin', "90"] --> function -> [ 'sachin', 90]

#   list (map( lambda value: int(value) if value.isdigit() else value, input().split() ))
# line2 rajat 100
# line3 nidhi 80

In [106]:
list1 = [ input().split() for _ in range(3) ]

sachin 80
rajat 100
nidhi 90

In [107]:
list1

[['sachin', '80'], ['rajat', '100'], ['nidhi', '90']]

In [110]:
list1 = [ list (map( lambda value: int(value) if value.isdigit() else value, input().split() ))
        
            for _ in range(3)]

sachin 90
rajat 100
nidhi 80

In [111]:
list1

[['sachin', 90], ['rajat', 100], ['nidhi', 80]]

In [112]:
# inline
print("hi") if True else print("bye")

hi

In [113]:
print("hi") if False else print("Bye")

Bye

In [114]:
print("hi") if False else print("bye") if False else print("bye bye")

bye bye

In [115]:
l1 = [ 1, 2, 3, 4]

l2 = [ 'java', 'c', 'c++']

In [116]:
l3 = []

l3.extend(l1)

l3.extend(l2)

print(l3)

[1, 2, 3, 4, 'java', 'c', 'c++']

In [117]:
l1 = [ 1, 2, 3, 4]

l2 = [ 'java', 'c', 'c++']

l3 = [ *l1, *l2]

In [118]:
print(l3)

[1, 2, 3, 4, 'java', 'c', 'c++']

Project: 

    tic tac toe game
    
    bank application