#### Functions

In [2]:
lst = [ 34, 50, 43, 25, 40, 67, 80, 34 ]

for item in lst:
    if item % 5 == 0:
        print(item, end=' ')
else:
    print("\n\nDone Printing All numbers from list which are divisible by 5 ")

50 25 40 80

Done Printing All numbers from list which are divisible by 5

### Attribute Error

In [3]:
l = [ 10, 20, 30, 40, 50 ]

In [4]:
l.sachin('do something')

AttributeError: 'list' object has no attribute 'sachin'

In [12]:
l = { 'name': 'sachin'}
print(type(l))
print(*[ func for func in dir(l) if '__' not in func], sep='\n')

<class 'dict'>
clear
copy
fromkeys
get
items
keys
pop
popitem
setdefault
update
values

In [15]:
x = { 'name': 'sachin'}
print(dir(x))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [16]:
x.append() # function

AttributeError: 'dict' object has no attribute 'append'

In [17]:
l =  [ 'java', 'c' , 'c++']

    two kind of functions 
    
        one which returns objects / values whenever we call them
        
        other which does not return anything

In [18]:
l

['java', 'c', 'c++']

In [21]:
item = l.append("Python")
# None

In [22]:
print(l)

['java', 'c', 'c++', 'Python', 'Python']

In [23]:
print(item)

None

In [24]:
item = l.pop(1)

In [25]:
print(l)

['java', 'c++', 'Python', 'Python']

In [26]:
print(item)

c

In [27]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [28]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [29]:
x = [ 'a', 'b', 'c', 'd']

In [30]:
max(x)

'd'

In [31]:
x = [ 'sachin', 'rajat', 'something']

In [32]:
max(x)

'something'

In [39]:
data = ('sachin', 14.5, ['java','c'], 'let')

In [40]:
print(id(data))

2204093551216

In [41]:
print(type(data))

<class 'tuple'>

In [42]:
data[2].append('c++')

In [43]:
data

('sachin', 14.5, ['java', 'c', 'c++'], 'let')

In [44]:
print(id(data))

2204093551216

    same id pe data change ho rha it means it should be mutable, is that so ?

In [46]:
name = [ 'sachin', 'rajat', 'simran', 'nikita']

marks = [ 70, 80, 78, 67, ]

sex = [ 'male', 'male', 'female', 'female']

In [47]:
i = 0 
while i < len(name):
    print(name[i], marks[i], sex[i]) # i = 3
    i = i + 1

sachin 70 male
rajat 80 male
simran 78 female
nikita 67 female

In [49]:
x, y, z = (1, 2, 3)
print(f"Tuple Unpacking x = {x}, y = {y}, z = {3}")

Tuple Unpacking x = 1, y = 2, z = 3

In [50]:
# tuple unpakcing 
for n, m, s in zip(name, marks, sex):
    print(n, m, s)

sachin 70 male
rajat 80 male
simran 78 female
nikita 67 female

In [56]:
for item in zip(name, marks, sex):
    print(item)

('sachin', 70, 'male')
('rajat', 80, 'male')
('simran', 78, 'female')
('nikita', 67, 'female')

In [57]:
a, b, c = ('sachin', 70, 'male')
print(a, '\n', b, '\n', c)

sachin
 70
 male

In [51]:
names = [ 'ram', 'hari', 'john', 'natasha', 'sachin', 'rajat']

# enumerate -> 0

In [52]:
for sno, item in enumerate(names):
    print(f"{sno}.  {item}")

0.  ram
1.  hari
2.  john
3.  natasha
4.  sachin
5.  rajat

In [53]:
for sno, item in enumerate(names):
    print(f"{sno+1}.  {item}")

1.  ram
2.  hari
3.  john
4.  natasha
5.  sachin
6.  rajat

In [55]:
for item in enumerate(names):
    sno, n = item
    print(item,'unpacking: ', sno, n)

(0, 'ram') unpacking:  0 ram
(1, 'hari') unpacking:  1 hari
(2, 'john') unpacking:  2 john
(3, 'natasha') unpacking:  3 natasha
(4, 'sachin') unpacking:  4 sachin
(5, 'rajat') unpacking:  5 rajat

## range

In [58]:
a = [ 5, 'hi', 'bye', 1, 2]
b = [ 10, 20, 'hello']

In [59]:
print(a)
print(b)

[5, 'hi', 'bye', 1, 2]
[10, 20, 'hello']

In [60]:
c = list(zip(a, b))

In [61]:
print(c)

[(5, 10), ('hi', 20), ('bye', 'hello')]

In [62]:
for e1, e2 in zip(a, b):
    print(e1, e2)

5 10
hi 20
bye hello

# Range

`Number Slicing`

In [63]:
s = "Hello World!"

In [64]:
print(s[2:10:2])

loWr

    start - 2
    
    end - 10 -1 --> 9
    
    jump - + 2 (left to right, every second element from 2 pos)

In [67]:
print(*"Hello world", sep='\n')

# * is used for unpacking of sequences

H
e
l
l
o

w
o
r
l
d

In [68]:
print(zip([1, 2, 3], ['one', 'two', 'three']))

<zip object at 0x000002012E354DC0>

In [70]:
print(*zip([1, 2, 3], ['one', 'two', 'three']), sep='\n')

(1, 'one')
(2, 'two')
(3, 'three')

    * is only applicable for sequences or collection type items like list, dict, tuple, string, set, frozenset

In [71]:
print(*123456, sep='\n')

TypeError: print() argument after * must be an iterable, not int

In [72]:
print(*'123456', sep='\n')

1
2
3
4
5
6

In [75]:
print(range(5))

range(0, 5)

In [76]:
x = range(5)

In [77]:
print(x)

range(0, 5)

syntax:
    
    range by default starts from 0, direction is Left to right 

    range(end) --> start = 0, finish = end - 1, jump = + 1
        
        range(5 -> 0, 1, 2, 3, 4
    
    
    range(initial, end) --> start = initial, finish = end-1
    
        range(1, 5) ->  ? 
    
    range(start, end, jump) --> start = start, finish= end-1, step = jump
    
        range(5, 51, 5) -->

In [79]:
print(range(5), '=', *range(5))

range(0, 5) = 0 1 2 3 4

In [80]:
print(range(1, 5), '=', *range(1, 5))

range(1, 5) = 1 2 3 4

In [81]:
print(range(5, 51, 5), '=', *range(5, 51, 5))

range(5, 51, 5) = 5 10 15 20 25 30 35 40 45 50

    1. print number from 1 - 100

    2. print number from 100 - 1 in reverse direction

    3. print -1 to -10 using range

    4. print table of a user input number using range

In [83]:
print(*range(1, 101), sep=', ')

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100

In [86]:
print(*range(100, 0, -1), sep=', ')

100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1

In [88]:
print(*range(-1, -11, -1))

-1 -2 -3 -4 -5 -6 -7 -8 -9 -10

In [89]:
print(*range(-10, 0))

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [ ]:
5
5 * 10 -> 50 + 1

In [91]:
num = int(input("Enter  a number: "))

print(*range(num, (num*10)+1, num), sep='\n')

Enter  a number: 10
10
20
30
40
50
60
70
80
90
100

#### Range

In [92]:
for num in range(1, 11):
    print(num**2)
else:
    print("Do you get it ?")

1
4
9
16
25
36
49
64
81
100
Do you get it ?

In [ ]:
for num in range(1, 11):
    if num % 2: 
        continue
    if num % 5 == 0:
        break
    print("Repeating For Value : ", num)
else:
    print("..Final Loop Statement...")

In [94]:
from time import sleep

In [96]:
for var in range(10):
    print(var)
    sleep(2) # delay

0
1
2
3
4
5
6
7
8
9

In [102]:
from tqdm import tqdm 

for value in tqdm(['java', 'c', 'c++', 'python', 'ruby', 'perl']):
    print(value)
    sleep(2)

# progress bars

  0%|                                                                                              | 0/6 [00:00<?, ?it/s]

java

 17%|██████████████▎                                                                       | 1/6 [00:02<00:10,  2.01s/it]

c

 33%|████████████████████████████▋                                                         | 2/6 [00:04<00:08,  2.01s/it]

c++

 50%|███████████████████████████████████████████                                           | 3/6 [00:06<00:06,  2.01s/it]

python

 67%|█████████████████████████████████████████████████████████▎                            | 4/6 [00:08<00:04,  2.01s/it]

ruby

 83%|███████████████████████████████████████████████████████████████████████▋              | 5/6 [00:10<00:02,  2.01s/it]

perl

100%|██████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:12<00:00,  2.01s/it]

In [101]:
print(*tqdm(['java', 'c', 'c++']))

100%|██████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<?, ?it/s]

java c c++

In [2]:
for num in range(1, 11):
    if num % 2: 
        continue
    if num % 5 == 0:
        break
    print("Repeating For Value : ", num)
else:
    print("..Final Loop Statement...")

Repeating For Value :  2
Repeating For Value :  4
Repeating For Value :  6
Repeating For Value :  8

In [1]:
from time import sleep
from tqdm import tqdm

for _ in tqdm(range(120)):
    sleep(1)

100%|██████████████████████████████████████████████████████████████████████████████████| 120/120 [02:01<00:00,  1.01s/it]

In [3]:
for num in range(1, 10):
    if num % 2: 
        continue
    if num % 5 == 0:
        break
    print("Repeating For Value : ", num)
else:
    print("..Final Loop Statement...")

Repeating For Value :  2
Repeating For Value :  4
Repeating For Value :  6
Repeating For Value :  8
..Final Loop Statement...

In [8]:
info = { 'name': 'sachin', 'age': 24, 'language': 'Hindi',}
for item in info:
    print(item)
else:
    print("Btao ky aayega ? ky apna time aayega ? ")

name
age
language
Btao ky aayega ? ky apna time aayega ?

In [5]:
d =  { 'company': 'python foundation', 'name': "python", 
     "launch_year": 1994, "current version": 3.8, 'father': 'Guido Van Rossum',
     }

In [6]:
print(d)

{'company': 'python foundation', 'name': 'python', 'launch_year': 1994, 'current version': 3.8, 'father': 'Guido Van Rossum'}

In [7]:
print(*d, sep='\n')

company
name
launch_year
current version
father

In [9]:
print(*d.values(), sep='\n')

python foundation
python
1994
3.8
Guido Van Rossum

In [11]:
info = { 'name': 'sachin', 'age': 24, 'language': 'Hindi',}
for item in info.values():
    print(item)
    if item == 24:
        break
else:
    print("apna time aayega")

sachin
24

In [12]:
info = { 'name': 'sachin', 'age': 24, 'language': 'Hindi',}
for item in info.items():
    print(item)
else:
    print("Btao ky aayega ? ky apna time aayega ? ")

('name', 'sachin')
('age', 24)
('language', 'Hindi')
Btao ky aayega ? ky apna time aayega ?

In [15]:
info = { 'name': 'sachin', 'age': 24, 'language': 'Hindi',}

for key, value in info.items():
    print(f"{key} = {value}")

name = sachin
age = 24
language = Hindi

In [16]:
d =  { 'company': 'python foundation', 'name': "python", 
     "launch_year": 1994, "current version": 3.8, 'father': 'Guido Van Rossum',
     }

In [18]:
for key, value in d.items():
    print(f"{key:>15} = {value}")
    
# justification of stirng 

# rjust, ljust, center --> string

        company = python foundation
           name = python
    launch_year = 1994
current version = 3.8
         father = Guido Van Rossum

    Doubt till loop ?

    list, dictionary

    eval(code) --> run this code

In [26]:
x = eval(input("Enter a value: "))
# eval unsafe 
print(type(x), x)

Enter a value: { 'name': 'sachin', 'age': 23 }
<class 'dict'> {'name': 'sachin', 'age': 23}

In [27]:
d

{'company': 'python foundation',
 'name': 'python',
 'launch_year': 1994,
 'current version': 3.8,
 'father': 'Guido Van Rossum'}

In [29]:
for i, item in enumerate(d):
    print(i, item)

0 company
1 name
2 launch_year
3 current version
4 father

#### Functions

<h3 style='color:red'> What is a Function ? </h3>

In [30]:
print("hello world")

hello world

    To perform a specific task we need to create function, to reduce code length ?

In [31]:
import sys

data = "Hello world!"

sys.stdout.write(data)

Hello world!

In [32]:
import sys

data  = "Bye World!"

sys.stdout.write(data)

Bye World!

In [33]:
print("Hello World!")

Hello World!

In [34]:
print("Bye World!")

Bye World!

__why functions are used in programming ?__

__features or properties of a function ?__

#### table print

In [35]:
num = int(input("Enter  a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")

Enter  a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [36]:
num = int(input("Enter  a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")

Enter  a number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [37]:
def table():
    num = int(input("Enter  a number: "))
    for i in range(1, 11):
        print(f"{num} x {i} = {num*i}")

In [38]:
table()

Enter  a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [41]:
table()

Enter  a number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [45]:
def even_odd(num):
    if num % 2 == 0:
        print(f"{num} is Even")
    else:
        print(f"{num} is Odd")

In [46]:
even_odd(5)

5 is Odd

In [47]:
even_odd(10)

10 is Even

In [48]:
for num in range(1, 11):
    even_odd(num)

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even

    Functions

#### Guess Game

In [49]:
import random

In [52]:
random.randint(20, 25)

24

    write a code to print 10 random number from 1-100

In [54]:
import time
for _ in range(10):
    print(random.randint(1, 100))
    time.sleep(1)

24
75
30
51
15
63
37
18
90
79

### Guess Game

    Doubt ?