In [26]:
def login(acc_no, passwd):
    is_login = False
    for acc, name, ps, bal in data:
        if acc == acc_no:
            if ps == passwd:
                print(f"Welcome back user {name}")
                is_login = True
            else:
                print("Invalid Password Try Again")
            break
    else:
        print("Accound Does not Exists")
    return is_login

In [28]:
data = [
    [ 10001, 'sachin', 'redhat', 30000 ],
    [ 10002, 'rajat', 'aws', 15000 ]
]

In [31]:
from getpass import getpass

In [30]:
if login(int(input("Acc no: ")) , getpass("Password: ") ):
    print("sucessfull")
else:
    print("Failed")

Accound Does not Exists
Failed

In [32]:
if login(int(input("Acc no: ")) , getpass("Password: ") ):
    print("sucessfull")
else:
    print("Failed")

Acc no: 10001
Password: ········
Invalid Password Try Again
Failed

In [33]:
if login(int(input("Acc no: ")) , getpass("Password: ") ):
    print("sucessfull")
else:
    print("Failed")

Acc no: 10001
Password: ········
Welcome back user sachin
sucessfull

In [2]:
data

[[10001, 'sachin', 'redhat', 30000], [10002, 'rajat', 'aws', 15000]]

In [3]:
data.append([10003, 'nidhi', 'yahoo', 20000])

In [4]:
data

[[10001, 'sachin', 'redhat', 30000],
 [10002, 'rajat', 'aws', 15000],
 [10003, 'nidhi', 'yahoo', 20000]]

In [7]:
data[-1][0]

10003

In [2]:
new_acc = data[-1][0] + 1

NameError: name 'data' is not defined

In [9]:
new_acc

10004

In [10]:
data.append([new_acc, 'kushal', 'lahsuk', 50000])

In [11]:
data

[[10001, 'sachin', 'redhat', 30000],
 [10002, 'rajat', 'aws', 15000],
 [10003, 'nidhi', 'yahoo', 20000],
 [10004, 'kushal', 'lahsuk', 50000]]

In [13]:
data[1][2]

'aws'

In [1]:
new_acc = data[-1][0] + 200

NameError: name 'data' is not defined

In [3]:
new_acc

NameError: name 'new_acc' is not defined

In [38]:
db[1001]['password']

'redhat'

In [14]:
db = {
    
    1001: { 'name': 'sachin', 'password': 'redhat', 'balance': 20000},
    1002: { 'name': 'kushal', 'password': 'tahder', 'balance': 30000},
    1003: { 'name': 'rajat', 'password': 'tajra', 'balace': 200000}
}

#### moduler programming

In [39]:
def login(acc_no, passwd):
    is_login = False
    if acc_no in db:
        if db[acc_no]['password'] == passwd:
            is_login = True
            print(f"Welcome back user {db[acc_no]['name']}")
        else:
            print("Invalid Password Try Again")
        
    else:
        print("This Account Does not Exists")
    
    return is_login

In [40]:
login(100000, 'alksdjf')

This Account Does not Exists

False

In [41]:
login(1001, 'alkdfj')

Invalid Password Try Again

False

In [42]:
login(1001, 'redhat')

Welcome back user sachin

True

In [15]:
db

{1001: {'name': 'sachin', 'password': 'redhat', 'balance': 20000},
 1002: {'name': 'kushal', 'password': 'tahder', 'balance': 30000},
 1003: {'name': 'rajat', 'password': 'tajra', 'balace': 200000}}

In [34]:
'key' in db

False

In [35]:
1001 in db

True

In [36]:
1005 in db

False

In [17]:
db[1002]

{'name': 'kushal', 'password': 'tahder', 'balance': 30000}

In [18]:
db[1002]['password']

'tahder'

In [22]:
new_acc = sorted(db.keys(), reverse=True)[0] + 1

In [23]:
new_acc

1004

In [24]:
db[new_acc] = { 'name': 'simarn', 'password': 'nramis', 'balance': 25000}

In [25]:
db

{1001: {'name': 'sachin', 'password': 'redhat', 'balance': 20000},
 1002: {'name': 'kushal', 'password': 'tahder', 'balance': 30000},
 1003: {'name': 'rajat', 'password': 'tajra', 'balace': 200000},
 1004: {'name': 'simarn', 'password': 'nramis', 'balance': 25000}}

## Tic Tac Toe

#### lambda

In [ ]:
127
  # 10 
11.12

2, 3, 4, 5, 6, 7, 8, 9, 11, 12

13 ,

In [45]:
def prime(num, check=2):
    if num <= 1 :
        return False
    elif num in (2, 3, 5, 7, 9):
        return True
    else:
        if check > (num**(1/2)) + 1:
            return True
        elif num % check == 0:
            return False
        else:
            return prime(num, check + 1)

In [46]:
prime(121)

False

In [47]:
prime(127)

True

\ line continuation symbol

In [71]:
myprime = lambda  num, check=2 : False if num <= 1 else True if num in (2, 3, 5, 7, 9) else \
True if check > (num**(1/2)) + 1 else False if num % check == 0 else myprime(num, check + 1)

In [72]:
myprime = lambda  num, check=2 : False if num <= 1 else True if num in (2, 3, 5, 7, 9) else True if check > (num**(1/2)) + 1 else False if num % check == 0 else myprime(num, check + 1)

In [73]:
myprime(121)

False

In [74]:
myprime(127)

True

## Anonymous Function

In [56]:
(lambda x, y: x**2+y**2)(4, 5)

41

In [57]:
l1 = [ 1, 5, 4, 6, 2, 7, 8, 3, 9]
l2 = [ 4, 3, 5, 6, 7, 3, 8, 2, 3]
for a, b in zip(l1, l2):
    print((lambda x, y: x**2+y**2)(a, b))

17
34
41
72
53
58
128
13
90

### Map

map(function, seq)

In [58]:
l1 = [ 1, 5, 4, 6, 2, 7, 8, 3, 9]
l2 = [ 4, 3, 5, 6, 7, 3, 8, 2, 3]

In [59]:
ans = list( map( (lambda x, y: x**2+y**2), l1, l2 ) )
print(ans)

[17, 34, 41, 72, 53, 58, 128, 13, 90]

In [60]:
data = [ 1, 4, 6, 7, 9, 3, 5, 7, 8, 2, 3, 6]

In [62]:
# even -> seprate

In [63]:
eve = []
for item in data:
    if item % 2 == 0:
        eve.append(item)

In [65]:
eve

[4, 6, 8, 2, 6]

In [66]:
l = [ 1, 2, 3, 4, 5]

In [67]:
list(map( lambda x: x**2 , l ))

[1, 4, 9, 16, 25]

#### syntax of filter


    filter(function, seq)
    
    note: function should return True or False

In [75]:
data = [ 1, 4, 6, 7, 9, 3, 5, 7, 8, 2, 3, 6]

In [77]:
def is_even(num):
    is_even = False
    if num % 2 == 0:
        is_even = True
    return is_even
    
eve = list(  filter( is_even,     data)    )
print(eve)

[4, 6, 8, 2, 6]

In [78]:
l = list(range(1000))

In [80]:
p = list(  filter( prime, l  )  )

In [82]:
print(p)

[2, 3, 5, 7, 9, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [83]:
eve = list(  filter( lambda num: num % 2 == 0,     data )    )
print(eve)

[4, 6, 8, 2, 6]

__ reduce __ 

__ decorator __

__ clousers __

### File Handling

<h3 style='color:red'> what is file handling ? </h3>

<h4 style='color:#123456'> Persistant or Permanent Collection of Data </h4>

<h3 style='color:red'> what are the types of file ?</h3>

    jpg, exe, py, mp4 --> file formats / file extention

    1. Regular File / Text File / Human Readable File

    2. Byte Files / Binary Files / Machine or Program Reable files

## File System

    to read any file

In [86]:
path = "C:\\users\\sachin\\Desktop\\code\\somefile"
# absolute path

In [87]:
file = open(path)

In [88]:
data = file.read()

file.close()

In [89]:
print(data)

some file to understand path

and file acess using

absolute or relative path

In [90]:
import os

In [93]:
os.getcwd()

# get current working directory

'C:\\Users\\sachin\\Desktop\\PythonBootCamp\\ClassCode'

In [94]:
os.chdir("C:\\users\\sachin")

# chdir == cd , to switch directory inside python code

In [95]:
os.getcwd()

# get current working directory

'C:\\users\\sachin'

In [98]:
os.listdir("C:\\users\\sachin\\Desktop")

['batch_1pm',
 'code',
 'DataScienceJobOrientedSyllabus.docx',
 'desktop.ini',
 'JobOrientedBatch',
 'JobOrientedDataScienceCourseContent.docx',
 'mydata.xlsx',
 'PythonBootCamp',
 'vim_test']

__rainsomeware__

In [99]:
os.getcwd()

'C:\\users\\sachin'

In [100]:
path = "Desktop\\code\\somefile"

In [101]:
def read_file(path):
    fp = open(path)
    data = fp.read()
    fp.close()
    print(data)

In [102]:
read_file(path)

some file to understand path

and file acess using

absolute or relative path

In [103]:
path = "./desktop/code/somefile"  # windows -> case insensitive

In [104]:
read_file(path)

some file to understand path

and file acess using

absolute or relative path

### File System

### Path - absolute, relative