In [2]:
# input code shell
print("Hello World")
# shift + Enter press to run your shell

Hello World

# Data Type

1. Numbers
*  String
*  List
*  Dictionary
*  Tuple
*  Set
*  Frozen Set
*  Boolean
*  Null

### Why we are using notebook files ? 

- Interactive 
- Documentation
- Easy to Use

<h3 style='color:red'>What is Data Type ?</h3>

    Data Type is set of rules used to categorize data into different different categories, each category of data has it's own set of rules by which you can store, retreive or manipluate them

In [3]:
"sachin"

'sachin'

In [4]:
"rajat"

'rajat'

In [5]:
"Hello World, I am a Data object having some usefull infromation that should processed later to solve problems"

'Hello World, I am a Data object having some usefull infromation that should processed later to solve problems'

    identifiers are used to point to any data object

    = is known as assignment operator that is used to store data into variable

Assignment Operation where we are storing data into identifier

    identifier = data

In [7]:

name  = "Sachin Yadav"

In [8]:
print("Sachin Yadav")

Sachin Yadav

In [9]:
name

'Sachin Yadav'

Assignment: 

    Write Down Naming Rules of Identifiers

In [10]:
x = 5

In [12]:
5 = x

SyntaxError: cannot assign to literal (<ipython-input-12-7f1a2e2f9b1f>, line 1)

In [11]:
5x = 10

SyntaxError: invalid syntax (<ipython-input-11-e2c6982fb2fa>, line 1)

In [13]:
x5 = 10

    Syntax Error Meaning Grammatical Error ( we are breaking rules of python )
    
    ram is a good boy (correct statement)
    
    is good a boy ram (syntax error)

Tip: learn by yourself, i am here only to guide and solve you doubts

### Numbers

    Whenever we need to store data which can be used in mathematical calculation we should store them as numbers

In [14]:
x = 10 # number

y = 20 # number


p = "10" # string

q = "20" # string

In [15]:
print(x)
print(q)

10
20

In [16]:
print(y)
print(q)

20
20

these operation totally depends on type of data

* storing
* accessing
* processing

In [18]:
x + y # 10 + 20 -> 30

30

In [19]:
x * y # 10 * 20 -> 200

200

In [21]:
x / y # 10 / 20 -> 0.5

0.5

In [22]:
print(x)

10

In [23]:
print(p)

10

In [24]:
print(y)

20

In [25]:
print(q)

20

In [26]:
print(type(x))

<class 'int'>

In [27]:
print(type(p))

<class 'str'>

In [30]:
x + y # integer operation -> addition

30

In [29]:
p + q # string operation -> concatination

'1020'

# 1.  Number 

- `Int` 5, 20, 1345
-  `Float` 3.14, 6.25, 1.6321
- `Complex Number` 50+56j

###### C 

int, unsigned int, long int, long int

float, double, long double

0-256 -> 8 bit numbers

0-32654 -> 16 bit number -> integers

In [31]:
x = 9147982379487239473297498327497231947983274891273947398247981274987943

In [32]:
print(x)

9147982379487239473297498327497231947983274891273947398247981274987943

In [33]:
print(type(x))

<class 'int'>

In [34]:
5 * 5

25

In [35]:
print(x)

9147982379487239473297498327497231947983274891273947398247981274987943

In [37]:
x * x * x * x * x *  x

586073272999899278965379461594192062751829988418042385183739454877943750527230533590447395167188528623296360750861560254114661880085620863374426613993406986351530779208964377898002711969135605454499241377101111953605383479542434871236505549284436203730391788184143261786242854516121557358326960625147536691694109445843100543160328777941099077146831282725155743017194853369289661535532849652043159259422158477002234551249

In [38]:
x = 5

In [40]:
print(x)
print(x.__sizeof__())

5
28

In [42]:
x = 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999
print(x)
print(x.__sizeof__())

999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999
64

In [43]:
x = 586073272999899278965379461594192062751829988418042385183739454877943750527230533590447395167188528623296360750861560254114661880085620863374426613993406986351530779208964377898002711969135605454499241377101111953605383479542434871236505549284436203730391788184143261786242854516121557358326960625147536691694109445843100543160328777941099077146831282725155743017194853369289661535532849652043159259422158477002234551249

In [44]:
print(x)

586073272999899278965379461594192062751829988418042385183739454877943750527230533590447395167188528623296360750861560254114661880085620863374426613993406986351530779208964377898002711969135605454499241377101111953605383479542434871236505549284436203730391788184143261786242854516121557358326960625147536691694109445843100543160328777941099077146831282725155743017194853369289661535532849652043159259422158477002234551249

In [45]:
print(x.__sizeof__())

212

In [46]:
x = 10

In [47]:
x = int(input("data: "))

data: lasalksjdfl

ValueError: invalid literal for int() with base 10: 'lasalksjdfl'

In [48]:
x = int(input("data: "))

data: 35

In [49]:
print(x)

35

In [50]:
print(type(x))

<class 'int'>

In [51]:
x = 50 # static variable declearation

In [52]:
x = int(input()) # dyanmic data

60

In [53]:
print(x)

60

In [54]:
x = 5.6

In [55]:
print(type(x))

<class 'float'>

In [56]:
print(x)

5.6

In [59]:
f = 193293721839217.1123712937283

In [60]:
print(f)

193293721839217.12

    () --> Functions --> pre written code to do some specific work

In [61]:
d  = 15 + 6j

In [62]:
print(type(d))

<class 'complex'>

In [63]:
print(d)

(15+6j)

##### Numbers 

```
int(value) --> integer conversion

float(value) --> float conversion

complex(value) --> complex conversion
```

In [64]:
x = "56"

In [65]:
x * x # "sachin" * "rajat" not possible

TypeError: can't multiply sequence by non-int of type 'str'

In [66]:
print(type(x))

<class 'str'>

In [67]:
x = int(x)

In [69]:
print(type(x))

<class 'int'>

In [70]:
x * x

3136

In [72]:
x = "67.87"

In [73]:
print(type(x))

<class 'str'>

In [74]:
print(x)

67.87

In [75]:
x * 2

'67.8767.87'

In [77]:
"Sachin Yadav " * 3 # "Replication"

'Sachin Yadav Sachin Yadav Sachin Yadav '

In [78]:
x = float(x)

In [79]:
print(type(x))

<class 'float'>

In [80]:
x * x

4606.3369

### user input

calculator 

    ask 2 numbers from user
    and perform operation +, -, * , /

In [81]:
x = input("X: ")
y = input("Y: ")

print("Add: ", x + y)
print("Sub: ", x - y)
print("Mul: ", x * y)
print("Div: ", x / y)

X: 5
Y: 5
Add:  55

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [82]:
x = input()

5

In [83]:
print(type(x))

<class 'str'>

### Type Casting or Type Conversion

In [84]:
x = input("X: ") # string
y = input("Y: ") # string

x = int(x) # int
y = int(y) # int

print("Add: ", x + y)
print("Sub: ", x - y)
print("Mul: ", x * y)
print("Div: ", x / y)

X: 5
Y: 5
Add:  10
Sub:  0
Mul:  25
Div:  1.0

In [86]:
x = int( input("X: ") )# int
y = int( input("Y: ") )# int


print("Add: ",x, " + ", y , " = ",  x + y)
print("Sub: ", x - y)
print("Mul: ", x * y)
print("Div: ", x / y)

X: 5
Y: 10
Add:  5  +  10  =  15
Sub:  -5
Mul:  50
Div:  0.5

In [88]:
 5 / 5 # float --> python

1.0

In [89]:
10 / 5 # absolute division , True Division

2.0

In [90]:
10 // 5 # Integer divsion, floor division

2

#### any doubt ?

Type -> Category


5 -> number

"5" -> string

In [91]:
x = input()

5

In [92]:
x

'5'

In [93]:
print(type(x))

<class 'str'>

In [94]:
x / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [95]:
"sachin" / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [96]:
x = int(input())

5

In [97]:
x

5

In [98]:
print(type(x))

<class 'int'>

In [99]:
x / 2

2.5

In [100]:
100 / 2

50.0

    Type --> Operation on data

In [101]:
var = 'ha ha ha'
print("value1", "value2", "value3", var, "value4")

value1 value2 value3 ha ha ha value4

`String Formatting`

### String

In [102]:
name = 'sachin'

In [103]:
print(type(name))

<class 'str'>

In [104]:
print(name)

sachin

In [105]:
father = "Guido Van Rossum"

In [106]:
print(father)

Guido Van Rossum

In [107]:
x = "sachin

SyntaxError: EOL while scanning string literal (<ipython-input-107-8ef1f990a69e>, line 1)

    Programming 20 % coding 80 % debugging (error -> reason of error --> solution of error)

## Single line String

    'single quoted' or "double quoted string"

In [108]:
x = 'hello world, how are you'

In [109]:
print(type(x))

<class 'str'>

In [110]:
print(x)

hello world, how are you

In [111]:
x = "Hello World, I am a Double Quoted String"

In [112]:
print(x)

Hello World, I am a Double Quoted String

In [113]:
application = "To
    The Headmaster,
    some school,
    some place
sir,
    Due to stomach pain i am unable to come school.
    grant me leave for 2 days.
thanks
    your student
    sachin
    "

SyntaxError: EOL while scanning string literal (<ipython-input-113-9664dda7b75f>, line 1)

    \ is known as line break (line continuation)

In [128]:
application = "To\n\tThe Headmaster,\n\tsome school,\n\tsome place\nsir,\n\tDue \
to stomach pain i am unable to come school.\n\tgrant me leave for 2 days.\nthanks \
\n\tyour student\n\tsachin"

In [129]:
print(application)

To
	The Headmaster,
	some school,
	some place
sir,
	Due to stomach pain i am unable to come school.
	grant me leave for 2 days.
thanks
	your student
	sachin

**Every Line is a Python Statement**

    ; is used for statement termination

In [114]:
x = 5

In [115]:
print(x)

5

In [116]:
x = 5 ; 
print(x)

5

In [117]:
x = 5 y = 10

SyntaxError: invalid syntax (<ipython-input-117-0afdf034958f>, line 1)

In [118]:
x = 5 ; y = 10;

In [119]:
print(x, y)

5 10

#### Assignment Escape Characters

    '\n' - new line
    '\t' - tab

In [120]:
x = "Hello World"

In [121]:
print(x)

Hello World

In [124]:
x = "Hello \t\t World"
# \t depends on editor setting -> 4 white spaces, 8 white spaces

In [123]:
print(x)

Hello 		 World

In [125]:
x = "Hello\nWorld"

In [126]:
print(x)

Hello
World

#### Multi-line String

      """triple quoted
          string for multi-line text data
      """

In [130]:
application = """To
    The Headmaster,
    some school,
    some place
sir,
    Due to stomach pain i am unable to come school.
    grant me leave for 2 days.
thanks
    your student
    sachin
    """

In [131]:
print(application)

To
    The Headmaster,
    some school,
    some place
sir,
    Due to stomach pain i am unable to come school.
    grant me leave for 2 days.
thanks
    your student
    sachin

#### List Type

    many objects in a single object

    collection of data types

In [132]:
names = [ 'rajat', 'sachin', 'simran', 'kushal', 'ravi', 'gaurav' ]

In [133]:
print(names)

['rajat', 'sachin', 'simran', 'kushal', 'ravi', 'gaurav']

In [134]:
print(type(names))

<class 'list'>

In [135]:
names

['rajat', 'sachin', 'simran', 'kushal', 'ravi', 'gaurav']

In [136]:
age = [ 35, 26, 24, 28, 45, 32 ]

In [137]:
print(names)

['rajat', 'sachin', 'simran', 'kushal', 'ravi', 'gaurav']

In [138]:
print(age)

[35, 26, 24, 28, 45, 32]

#### Use Case 

    Data Base

name

age

address

ph

email

dept

sal

exp

graduation

skills

occupied ? yes ? deadline ?

python --> Team ? python ? 
                exp ? 
                free ? 
                occupied ? deadline time ?

Tomorrow Topic: 

    Class & Object, Mutablility & Immutability
    
    String Operations & List Operations
    
    Dictionary

    15 Min ?

# Doubt Session

In [139]:
x = "5"

In [140]:
print(x)
# standard output print --> stdout

5

In [141]:
x # shell output / raw output

'5'

In [142]:
print(repr(x))
# repr --> representation -> raw data

'5'

In [143]:
x = 5
y = "5"

In [144]:
print(repr(x))
print(repr(y))

5
'5'

__set path of your application into system PATH variable to access them from powershell__

string

In [145]:
data = "h" + "e" + "l" + "l" + "o"

In [146]:
print(data)

hello

    vim -> .bat

In [147]:
age

[35, 26, 24, 28, 45, 32]

In [148]:
names

['rajat', 'sachin', 'simran', 'kushal', 'ravi', 'gaurav']

In [149]:
# indexing
age[0]

35

In [150]:
age[2]

24

__to switch into D directory__

cd D:\

    Alt + TAB to switch between powershell & jupyter

    turtle - after python

__jupyter shortcuts__

    up arrow key for above shell
    
    down arrow key for below shell
    
    Esc + a open a new shell above
    
    Esc + b open a new shell below
    
    Esc + m to switch code shell into markdown shell
    
    Esc + y to switch to code shell

    dir1;dir2;dir3;newpath