## `Algorithm`

    Step by step Solution to A Problem

    Problem
                Program     Result
    Data

    Programming == Problem Solving

    python
    
    print("hello world")

Code Block in C

    #include<stdio.h>
    
    int main(){
        
        printf("Hello World");
        
        return 0;
        
    }

Hello World in Java

    class Hello{

        public static void main(String ...k){

            System.out.println("Hello World");
        }
    }

bash shell 

    echo "Hello World"

java script 


    console.log("Hello World")

    IO operations
    
            user input ? 
            
            
            user output ?

1. Problem Defination 

       I want to Create a Program Than can classify Even and Odd Numbers
    
        Even - All numbers which divisible 2 
        
        Odd - All numbers which does not divide by 2
        
        test case: 
        
            15 - (15/ 2 --> no ) Odd
            
            16 - (16/2 --> yes) Even
            
            condition -> 0 should be consider Even
            
2. Write Down Algorithm
 
         Even Odd Classification Algorithm
     
         Step1: Start
         
         Step2: take a number input and store it into a variable called num
         
         Step3: if number is divisible by 2 than go to step 4 else go to step 5
         
         Step4: Display Even Number
         
         Step5: Display Odd Number
         
         Step6: Stop

3. Flow Chart

    Graphical Representation of Algorithm

![Flow Chart](flowchart.jpg)

In [2]:
#![Flow Chart](flowchart.jpg) to load image load

##### Testing

test1   6   Even

test2   17  Odd

## Pseudo Code

    Ruff Code

Pseudo Code for Even-Odd Program

    num = num_input()
    
    IF num % 2 == 0  THAN
    
            PRINT EVEN NUMBER
    ELSE
            
            PRINT ODD NUMBER

In [5]:
from tqdm import tqdm 
from time import sleep

for _ in tqdm(range(300)):
    sleep(1)

100%|██████████████████████████████████████████████████████████████████████████████████| 300/300 [05:02<00:00,  1.01s/it]

In [3]:
num = int(input("Number: "))

if num % 2 == 0:
    
    print("Even Number")
    
else:
    
    print("Odd Number")

Number: 13
Odd Number

In [4]:
num = int(input("Number: "))

if num % 2 == 0:
    
    print("Even Number")
    
else:
    
    print("Odd Number")

Number: 10
Even Number

# Development Life  Cycle 

#### Problem Definition 

#### Requirement Gathering 

#### Algorithm

#### Flow Chart

#### Pseudo Code

#### Coding 

#### Testing

#### Deployment 


#### Mantinance / Support

### Software Life Cycling

#### SDLC

#### Waterfall

#### DevOps

# Operators

    Operends (patient)
    
    Operators  (Doctors)

Assignment 

    Unary Operators 
    
    Binary Operators 
    
    Ternary Operators

In [6]:
5 + 6

11

    data --> operator --> information

#### Python Operators 


1. Arithmatic Operators - +, -, *, /, %, //, **

2. Bitwise Operators  |, &, ^, ~

3. Comparision Operators  <, >, <=, >=, ==, !=

4. Logical Operators  or, and, not 

5. Membership Operators in, not in

6. Identity Operator is, is not 

7. Assignment Operator =, +=, -=, *=, /=, %=, //=, **=

__only in python 3.8__

8. Warlus Operators :=

### Airthmatic Operators

    Suitable for number type data

In [7]:
5 + 6 # addition

11

In [8]:
6  - 10 # subtraction

-4

In [9]:
5 * 6 # multiplication

30

In [10]:
10 / 20 # true division

0.5

In [11]:
100 % 7 # remainder, Modulas

2

In [12]:
100 // 7 # quoitient , floor division

14

In [14]:
3 ** 4

81

In [15]:
2 ** 2

4

In [16]:
2 ** 8 # 0-255 ** power, exponent

256

In [17]:
2 * 3

6

In [18]:
5 ** 3

125

    syntax base ** power

In [19]:
"Hello " + "World"

'Hello World'

In [21]:
"Hello World " * 3

'Hello World Hello World Hello World '

In [22]:
['c', 'c++', 'java', 'ruby'] + [ 'python', 'bash', 'octave']

['c', 'c++', 'java', 'ruby', 'python', 'bash', 'octave']

In [23]:
[ "hello", "world" ] * 3

['hello', 'world', 'hello', 'world', 'hello', 'world']

In [24]:
s = "Hello " + "World"

In [25]:
print(s)

Hello World

#### Comparision Operators

    mostly used for numbers

### Boolean Data Type 

    True -> yes, any number except 0, non empty object

    False -> no

In [26]:
10 > 20

False

In [27]:
20 > 10

True

In [28]:
5 < 6

True

In [29]:
6 > 7

False

In [30]:
4 == 4

True

In [31]:
4 == 5

False

In [32]:
5 < 5

False

In [33]:
6 > 6

False

In [34]:
5 == 5.00000000000000000000000000000000000000000000000000000000000000000000000000000000000001

True

In [35]:
5 == 5.00

True

In [36]:
5 >= 5

True

In [37]:
6 <= 6

True

In [39]:
7 >= 6

True

In [40]:
4 != 5

True

In [41]:
True != False

True

In [42]:
"sachin" != "rajat"

True

In [43]:
"sachin" != "sachin"

False

#### Logical Operators

    or

In [44]:
True or True

True

In [45]:
True or False

True

In [46]:
False or True

True

In [47]:
False or False

False

In [49]:
4 > 5 or 5 > 4 
# False or True

True

In [50]:
4 != 4 or 5 > 6

False

`and`

In [51]:
True and True

True

In [52]:
True and False

False

In [53]:
False and True

False

In [54]:
False and False

False

In [56]:
'sachin' == 'sachin' and 8 > 7

True

In [57]:
'Sachin' == 'sachin' and 8 > 7

False

`not`

In [58]:
not True

False

In [59]:
not False

True

In [60]:
5 > 6

False

In [61]:
not 5 > 6

True

In [62]:
not "sachin" == "Sachin"

True

In [66]:
if (13 % 2 == 0):
    print("Even")

In [64]:
13 % 2

1

In [65]:
1 == 0

False

In [67]:
if (12 % 2 == 0):
    print("Even")

Even

In [68]:
12 % 2

0

In [69]:
0 == 0

True

### Membership

`in`

In [70]:
"sachin" in "sachin yadav"

True

In [71]:
"Dhoni" in [ "Virat Kohli", "Rohit Sharma", "KL Rahul", "Pandya", "Manish", "Jadega", "Chahal", "Bumrah", "Shami"]

False

In [72]:
"Dhoni" in [ "Virat Kohli", "Rohit Sharma", "Dhoni",  "KL Rahul", "Pandya", "Manish", "Jadega", "Chahal", "Bumrah", "Shami"]

True

`not in`

In [73]:
'covid-19' in [ 'no', 'no', 'covid-19', 'no', 'no']

True

In [74]:
'covid-19' not in [ 'no', 'no', 'covid-19', 'no', 'no']

False

In [76]:
"Dhoni" not in [ "Virat Kohli", "Rohit Sharma", "KL Rahul", "Pandya", "Manish", "Jadega", "Chahal", "Bumrah", "Shami"]

True

### Identity Operator

In [77]:
x = 5
y = 5

In [78]:
print(id(x), x)

140728070649760 5

In [79]:
print(id(y), y)

140728070649760 5

In [80]:
x is y

True

In [81]:
x is not y

False

### Assignment Operator

In [89]:
x = 5

In [90]:
print(x)

5

In [91]:
x += 10 # x = 5 + 10 , x = 15

In [92]:
print(x)

15

In [93]:
x = x + 5

In [94]:
print(x)

20

In [96]:
x += 1

In [97]:
print(x)

21

    Assignment :  Operator Precedence

In [99]:
5 + (6 * 10) / 3 ** 3 % 6 # ?

7.222222222222222

#### Conditional Statement

Syntax: 


    if condition:
        
        st-1
        st-2
        st-3
        
    else:
    
        st-4
        st-5
        st-6

In [100]:
if True:
    print("I will work")

I will work

In [102]:
if False:
    print("I will work")

    Write a Program to decide wheather to go for a movie or a dinner 

    condition -> if pocket money is greater than 1000 rs than go for movie else go for dinner

In [103]:
pocket_money = int(input("Jeb m kite hai ? "))

if pocket_money >= 1000:
    print("I will go for Moive")
else:
    print("I will go for Dinner")

Jeb m kite hai ? 500
I will go for Dinner

In [104]:
pocket_money = int(input("Jeb m kite hai ? "))

if pocket_money >= 1000:
    print("I will go for Moive")
else:
    print("I will go for Dinner")

Jeb m kite hai ? 1500
I will go for Moive

Code:

    Ask for total marks 
    Ask user for his/ her marks ? 
    
    if marks >= 75 %
    than 
        assign A section for the student
    else
        assign B section for the student

Writing a code to check which number is biggest ?

In [105]:
num1 = 20

num2 = 15

num3 = 35

result = "{} is biggest number:"

if  (num1 > num2) and (num1 > num3):
    print(result.format(num1))
elif num2 > num3:
    print(result.format(num2))
else:
    print(result.format(num3))

35 is biggest number:

In [106]:
num1 = int(input("number1: "))

num2 = int(input("number2: "))

num3 = int(input("number3: "))

result = "{} is biggest number:"

if  (num1 > num2) and (num1 > num3):
    print(result.format(num1))
elif num2 > num3:
    print(result.format(num2))
else:
    print(result.format(num3))

number1: 30
number2: 45
number3: 10
45 is biggest number:

Problem:

    should I give loan to a customer or not 
    
    step1: start
     
    step2: ask for user name
    
    step3: ask for job type [ 'government', 'business', 'private'] 
    
    step4:
    
        if job type is government than go to step 5
        
        if job type is business than go to step 6
        
        if job type is private than go to step 7
        
        else display message with user name that select valid option please from [ 'government', 'business', 'private'] stop program
        
    step5:
        ask for salary
        
        if salary > 50k than print submit documents, your loan will be approved
        
        else sorry we are unable to  provide you loan
        
        stop program
        
    step6:
        ask for turnover yearly 
        
        if turnover >= 5M than print submit documents, your loan will be approved
        
        else display abhi aapki aaukat nh hai hmare se loan ki and stop program
        
    step7: 
    
        display No chance of loan approval, nikal phali fursat main

__Doubts ?__

In [107]:
print(5+6)

11

In [108]:
print('5'+'6')

56

    (+) -> implicit or (__add__) explicit / oops

In [109]:
one = [ 'one', 'two', 'three']

two = [ 'four', 'five', 'six']

In [110]:
three = one + two

In [111]:
print(three)

['one', 'two', 'three', 'four', 'five', 'six']

In [112]:
one + two

['one', 'two', 'three', 'four', 'five', 'six']

In [113]:
one

['one', 'two', 'three']

In [114]:
two

['four', 'five', 'six']

    Deep & Shallow Copy

### String Formatting

In [115]:
data = "Hello my name is {}, and I belongs to {}."


# place holders or buffer

In [116]:
print(data)

Hello my name is {}, and I belongs to {}.

In [117]:
print(data.format("Sachin", "India"))

Hello my name is Sachin, and I belongs to India.

In [118]:
name = "Sachin"
country = "India"


data = f"Hello my name is {name}, and I belongs to {country}."
print(data)

Hello my name is Sachin, and I belongs to India.

    c to python

    && - and
     
     |  - or 
     
     !  - not

    string buffer

    Memory Efficient